# Git
.git
.gitignore

# Docker
docker-compose*.yml
Dockerfile*

# Python
__pycache__/
*.py[cod]
.venv
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Documentation
*.md
LICENSE

# Docker volumes
volumes/
